:root {
    --main1-height: 15%;
    --main2-height: 10%;
    --main4-height: calc(100% - (var(--main1-height)) - (var(--main2-height)));

    --more1-section-height: var(--main1-height);
    --more2-section-height: 13%;
    --more3-section-height: 28%;
    --more4-section-height: 28%;
    --more5-section-height: 16%;

    --title-height: 1.75rem;
    --body-height: calc(100% - (var(--title-height)));

    --text-title-height: 1.75rem;
    --text-body-height: calc(100% - (var(--title-height)));
}

body {

    overflow: hidden;
}

.container {
    width: 99vw;
    height: 98vh;

    display: flex;
}

.mainBody {
    width: 60%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    height: var(--main1-height);

    /* background-color: bisque; */
    border: 1px solid black;
    box-sizing: border-box;
}

.to {
    /* background-color: aqua; */
    border: 1px solid black;
    box-sizing: border-box;
}

.from {
    /* background-color: chocolate; */
    border: 1px solid black;
    box-sizing: border-box;
}

.statement {
    width: 100%;
    height: var(--main4-height);

    /* background-color: darkslateblue; */
    border: 1px solid black;
    box-sizing: border-box;
}

.address {
    width: 50%;
    height: var(--main2-height);
}

.secondaryBody {
    width: 40%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
}

.form-number {
    width: 50%;
    height: var(--more1-section-height);

    /* background-color: blueviolet; */
    border: 1px solid black;
    box-sizing: border-box;
}

.date {
    width: 50%;
    max-height: var(--more1-section-height);

    /* background-color: fuchsia; */
    border: 1px solid black;
    box-sizing: border-box;
}

.sincerity {
    width: 100%;
    height: var(--more2-section-height);

    display: flex;
    flex-direction: column;

    /* background-color: gold; */
    border: 1px solid black;
    box-sizing: border-box;
}

.excuse {
    width: 100%;
    height: var(--more3-section-height);

    display: flex;
    flex-direction: column;

    /* background-color: darkmagenta; */
    border: 1px solid black;
    box-sizing: border-box;
}

.feel {
    width: 50%;
    height: var(--more4-section-height);

    display: flex;
    flex-direction: column;

    /* background-color: chartreuse; */
    border: 1px solid black;
    box-sizing: border-box;
}

.please {
    width: 50%;
    height: var(--more4-section-height);

    display: flex;
    flex-direction: column;

    /* background-color: brown; */
    border: 1px solid black;
    box-sizing: border-box;
}

.notes {
    width: 100%;
    height: var(--more5-section-height);

    display: flex;
    flex-direction: column;

    /* background-color: coral; */
    border: 1px solid black;
    box-sizing: border-box;
}

.secondary-title {
    width: 100%;
    height: var(--title-height);
}

.secondary-body {
    height: var(--body-height);
}

.text-title {
    width: 100%;
    height: var(--text-title-height);

    display: flex;
    justify-content: center;
    align-items: center;
}

.text-body {
    height: var(--text-body-height);
}