.main-body-item{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
}

.secondary-body-item{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
}

.statement{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    justify-content: center;

    padding: 10px 10%;

    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
}