.main-body-item{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
}

.secondary-body-item{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
}

.statement{
    align-items: normal;
}